.home-page {
  background-image: url('https://images.unsplash.com/photo-1643725173053-ed68676f1878?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #eaeaea; 
}
header {
  padding: 2.5rem;
  background-color: rgba(34, 193, 195, 0.8);
  color: #f0f0f0;
  margin-bottom: 3rem;
  border-radius: 10px;
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.btn-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 3rem;
}

button {
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  background-color: #1e90ff;
  color: white;
}

.btn-primary:hover {
  background-color: #1c86ee;
}

.btn-secondary {
  background-color: #ff6347;
  color: white;
}

.btn-secondary:hover {
  background-color: #ff4500;
}

footer {
  padding: 1.5rem;
  background-color: rgba(34, 193, 195, 0.8);
  color: #f0f0f0;
  margin-top: 3rem;
  border-radius: 10px;
}
